<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success ">Save</button>
                    <button style="margin-left: 5px;" type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="" formControlName="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imageUrl">Image URL</label>
                        <input type="text" name="imageUrl" formControlName="imagePath"  id="" class="form-control ">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <img src="" class="img-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" name="description" id="" formControlName="description" class="form-control "></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                  <div class="row form-group" *ngFor="let ingredientCtrl of getControl(); let i = index"
                  [formGroupName]="i" >
                      <div class="col-xs-4">
                          <input class="form-control " placeholder="Name " type="text" name="name" id="" formControlName="name">
                        </div>
                        <div class="col-xs-4">
                          <input class="form-control " placeholder="Amount " type="number" name="amount" id="" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                          <input class="form-control " placeholder="Unit " type="text" name="unit" id="" formControlName="unit">
                        </div>
                        <div class="col-xs-2 ">
                        <button type="button" class="btn btn-danger">X</button>
                        </div>
                  </div>
                </div>
            </div>
        </form>
    </div>
</div>