<div class="row">
    <div class="col-xs-12">
        <img src="" class="img-responsive" alt="">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>Recipe Name</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" 
            class="btn btn-primary dropdown-toggle">
            Manage 
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Add to Shoping List</a></li>
            <li><a href="#">Edit Recipe</a></li>
            <li><a href="#">ADelete Recipe</a></li>
        </ul>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-12">
        <p>Description</p>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <p>Ingredients</p>
    </div>
</div>